<% add_decidim_page_title(t(".sign_up")) %>

<% content_for :devise_links do %>
  <%= render "decidim/devise/shared/links" %>
<% end %>

<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".sign_up") %></h1>
        <p>
          <%= t(".subtitle") %>
        </p>
        <p>
          <%= t(".already_have_an_account?") %>
          <%= link_to t(".sign_in"), new_user_session_path %>
        </p>
      </div>
    </div>

    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>

    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">
        <%= link_to(t(".create"), sign_up_url, class: "button expanded") %>
      </div>
    </div>
  </div>
</div>
<%= render "decidim/devise/shared/newsletter_modal" %>
